<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div class="container-sm center" style="margin-top: 100px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h2 style="font-family:Consolas; text-align: center;" class="text-dark">DispactX - Authorization</h2>
    <a style="font-family:Consolas;" class="btn btn-success text-white" href="/genshin">Genshin Account - Login</a>
  </div>
</div>

<%- include("partials/footer") %>